[2019-01-01 23:00] SimonMo88 opened #1 "Amp images are not working"
When generating the site, amp images are not being copied over

[2019-01-02 00:26] #1 closed, assigned to nobody

[2019-01-02 15:51] Stono opened #2 "Doesn't run on centos"
Hey mate,
Thanks for this - works a treat when i run on my macbook however when trying to run it as part of an automated script on a centos machine; it doesn't:

[code]

`--show-progress` feels like vanity anyway, so maybe it can just be removed?

[2019-01-02 15:58] Fried-Chicken commented on #2
Hey @Stono

I'm glad you like it. I've added a new flag `--slient` it's available in `v0.0.10`.
Can you try that and see if it fixes your issue?

[2019-01-02 16:36] Fried-Chicken commented on #2
I've now added detection of if the command exists so with `v0.0.11` you won't need to provide the --silent flag. It will automatically be silent if `wget` does not have a `--show-progress` command

[2019-01-02 16:37] Stono commented on #2
Cool, just on a train but will give it a go later

On Wed, 2 Jan 2019, 4:36 pm Simon Mo <notifications@github.com wrote:

[2019-01-02 18:43] Stono commented on #2
OK it runs now but seems extremely slow and I'm unsure why because I'm not getting much output.

You can see it plows through a bunch of them quite quick:
[code]

[2019-01-02 20:32] Stono commented on #2
The slowdown was caused by some ipv6 issues in my container which i've now resolved!

[2019-01-02 20:35] Stono opened #3 "Infinity scroll has wrong scheme"
As I generate this static content locally; it doesn't have https enabled.

When I come to run it from my bucket, i get:

<img width="676" alt="screenshot 2019-01-02 at 20 34 55" src="https://user-images.githubusercontent.com/1486729/50611342-ea177080-0ecd-11e9-90d2-d66e7a471946.png">

Looks like we could do with something to rewrite this perhaps?

[2019-01-02 20:36] Stono commented on #3
Ha you have it with `--url 'http://www.mydomain.com'`

[2019-01-02 20:38] Stono commented on #3
<img width="959" alt="screenshot 2019-01-02 at 20 38 25" src="https://user-images.githubusercontent.com/1486729/50611460-68741280-0ece-11e9-99dc-191c71a58897.png">
didn't work too well haha!

[2019-01-02 20:47] Fried-Chicken commented on #3
@Stono have you tried `—url karlstoney.com`? Just having dinner atm, will take a look when I finish. Looks like the recursion is picking up the replacement then replacing.

[2019-01-02 20:49] Stono commented on #3
Stuck in a PR.  Your helper was replacing based on a source of DOMAIN, whereas I believe it should be URL (this fixes it for me).

[2019-01-02 20:54] Fried-Chicken commented on #3
@Stono Ahh i see the issue, so the reason we have Domain is because some users have their ghost site hosted somewhere. Have you tried passing in combinations of the two `—domain —url`. THis is certainly very interesting. Will take a look at the PR when I’m back! :)

[2019-01-02 21:05] Stono commented on #3
No worries.
FYI: https://github.com/Stono/ghost-static which builds to https://karlstoney.com which is hosted in a GCS bucket with cloudflare in front.

Blog for about 10p a month :-)

[2019-01-02 21:19] #3 closed

[2019-01-02 21:47] Fried-Chicken commented on #2
Closing issue as it was related to and issue with ipv6

[2019-01-02 21:47] #2 closed

[2019-01-03 13:12] Fried-Chicken commented on #3
As they say 'look after the pennies and the pounds will look after themselves'

[2019-01-05 14:15] Fried-Chicken opened #5 "Site map urls not replaced properly"
There's an issue with sitemap url's not being replaced properly.

This is because some of the urls int he sitemap do not have 'http' but only '//'.
Fixed by removing 'http://' or 'https://' from both domain and the replacement url and replacing all domain instances with url provided by the url flag.

[2019-01-05 14:21] Fried-Chicken commented on #5
Fixed

[2019-01-05 14:21] #5 closed

[2019-01-05 16:04] Stono opened #7 "Page not being included"
Hey,
I use formspree for "contact me" https://karlstoney.com/contact - which upon success redirects back to https://karlstoney.com/thanks.

`/thanks` exists in ghost as a `page` but it isn't being included in my static site content.

You can see it in my sitemap here: https://karlstoney.com/sitemap-pages.xml

Not sure what's going wrong, any ideas?

[2019-01-05 16:08] Fried-Chicken commented on #7
Hey @Stono

I've thought about this before briefly. So it's not included because there are no links to this page on the site anywhere. I did think of adding a flag before, but then it's just too many flags. I'm thinking I could add a `.gssgconfig` where you can add all the settings and just run `gssg` instead.

What do you think?

[2019-01-05 16:12] Stono commented on #7
Sounds like a great idea in general, but for this specific issue couldn't
you also traverse the sitemap.xml to ensure you're indexing all pages?

On Sat, 5 Jan 2019, 4:08 pm Simon Mo <notifications@github.com wrote:

[2019-01-05 16:13] Fried-Chicken commented on #7
That's a good idea, I think traversing the sitemap's better. Let me have a go at that.

[2019-01-05 16:41] Stono opened #8 "Images uploaded aren't generated for all sizes"
Hey,
So when you use an image like the one on my first post: https://karlstoney.com, ghost will select an image size (600, 1000, 2000) to generate the page.  The crawler will therefore only see one image (in my case it was the 1000w one), and that's the one that gets generated.

Then when the static content is uploaded and javascript tries to request the 600w version, it isn't there.

Not sure how

[2019-01-05 16:46] Fried-Chicken commented on #8
Hmmm, this could be related to the ci. I came across a similar issue when I ran the upload command directly after `gssg` had finished. The fix for me was to add a 5 second delay before uploading. Also, I can see this image `https://karlstoney.com/content/images/size/w600/2019/01/ghost-logo-1.png` when I try to access it.

[2019-01-05 16:46] Stono commented on #8
Yeah because I've manually fudged it :p

[2019-01-05 16:47] Fried-Chicken commented on #8
Ahh right, haha makes sense. I'll take a look at it once I've fixed the other issue.

[2019-01-05 16:47] Stono commented on #8
Haha sorry for being a pest :D

[2019-01-05 16:48] Fried-Chicken commented on #8
You're not being a pest. I like solving problems 😄

[2019-01-05 22:01] Stono commented on #8
Hey,
I can confirm #7 is fixed however i think this issue might be more difficult to resolve.

I actually think some of the "optimised sizes" are generated on demand.

After upload:
[code]

After me loading a page in a certain size
[code]

[2019-01-05 22:04] Stono commented on #8
OK I have an idea.
Looks like ghost will generate them on demand.   Therefore your script could:

  - Look for images in `content/images/size`, and then ensure it calls the URL for the `w600`, `w1000` and `w2000` versions of that image.

eg:

  - http://127.0.0.1/content/images/size/w600/2019/01/ghost-logo-1.png
  - http://127.0.0.1/content/images/size/w1000/2019/01/ghost-logo-1.png
  - http://127

[2019-01-05 22:05] Stono commented on #7
Confirmed this is fixed

[2019-01-05 22:09] Fried-Chicken commented on #7
Awesome

[2019-01-05 22:09] #7 closed

[2019-01-05 22:13] Fried-Chicken commented on #8
Ok, that looks like it could be a good solution. I'll have to do some digging.

[2019-01-05 22:19] Stono commented on #8
I confirmed it worked with a dirty bit of bash.

[code]

[2019-01-05 22:21] Fried-Chicken commented on #8
🤣 Very dirty indeed. Looks good. I'll let you know when it's done :)

[2019-01-05 22:32] Stono commented on #8
Hmm looking into it a little more, any image in the `content/images` folder can be passed through the `size` url!

[2019-01-05 22:38] Stono commented on #8
So the new hacky version is:
[code]

[2019-01-05 23:00] Stono opened #9 "Async fetching would speed things up"
At the moment everything is done sync, spawning from https://github.com/Fried-Chicken/ghost-static-site-generator/blob/master/src/commands/generateStaticSite.js#L32

Having some parallelism would speed things up drastically, 10 or 20 simultaneous requests for example.

A library such as https://www.npmjs.com/package/run-parallel-limit could help with that.

[2019-01-05 23:02] Stono opened #10 "Knowing when there is an error"
At the moment, I simply eyeball the output looking for errors.

It'd be nice to add a flag such as `--fail-on-error` which would stop the process and exit non-zero if there were any scrape errors rather than the current default in https://github.com/Fried-Chicken/ghost-static-site-generator/blob/master/src/helpers/crawlPageHelper/crawlPageHelper.js#L19 which is just to write to stdout.

It'd also

[2019-01-05 23:32] Stono commented on #8
Oh, it did :-) Great work!
[code]

[2019-01-05 23:33] Fried-Chicken commented on #8
That's great :) glad it worked! So I can close this issue?

[2019-01-05 23:33] Stono commented on #8
Ah wait, nope, there are some missing! Let me just gather info

[2019-01-05 23:36] Stono commented on #8
[code]

So if you look in the above you'll see `app_1  | INFO [2019-01-05 23:34:58] "GET /content/images/size/w600/2019/01/hacker.png" 200 6ms`, this image is only downloaded in 600 and 2000

[2019-01-05 23:37] Fried-Chicken commented on #8
Hmm, that's odd, as am generating the urls from this array
[code]

[2019-01-05 23:38] Stono commented on #8
There are four images which aren't being included in your final image get:

[code]

And interestingly enough, they're all "hero" images from the top of posts.

[2019-01-05 23:40] Stono opened #11 "Javascript error on blog page"
If you go to https://karlstoney.com/2018/02/23/nginx-ingress-modsecurity-and-secchatops/ you'll see:

<img width="581" alt="screenshot 2019-01-05 at 23 39 28" src="https://user-images.githubusercontent.com/1486729/50730348-30c1d080-1143-11e9-8322-081abe16b70a.png">

[2019-01-05 23:40] Fried-Chicken commented on #8
Hmmm, that's interesting, will need to dig deeper into this,

[2019-01-05 23:42] Fried-Chicken commented on #8
Ahh right, that makes sense, so the hero image now needs to be changed back to just using the url image. (Reverting the changes suggested in my README.md)

I'm ignoring the size folder because if we crawl that, it will be infinite crawling and generating.

[2019-01-05 23:46] Stono commented on #8
so what I would personally do:

  - Build an array of all *.png files in images/*.png (which includes size), but strip the size part of the path from the size images.
  - Remove the duplicates from that array which gives you all unique image names
  - Download all the sizes for the items in that array.

[2019-01-05 23:48] Fried-Chicken commented on #8
That works. Getting closer 😃

[2019-01-05 23:48] Stono commented on #8
:D

[2019-01-06 00:35] Fried-Chicken commented on #8
Hey @Stono

So I've added some regex to test for `w1000/size/w1000` etc, that should prevent the recursive paths.
New version is `0.1.0-6`

[2019-01-06 00:55] Fried-Chicken commented on #11
Hmmm, I'm not sure why you have that. I have the same fitVid implementation and it works for me. Maybe it is conflicting with another library you use.

[2019-01-06 01:03] Fried-Chicken commented on #9
I need to look at how to do this, it's currently synchronous because I need to wait for all the files to download before removing query strings, and replacing urls. Any ideas?

[2019-01-06 01:04] Fried-Chicken commented on #10
Version `0.1.0-7` now has this flag

[2019-01-06 01:04] #10 closed

[2019-01-07 16:59] Stono commented on #11
Hey; Not ignoring this btw just having a really busy couple of days!
Will get back to you on this and the others ASAP

[2019-01-07 18:01] Fried-Chicken commented on #9
I've made the fetching of responsive images async, this speeds up the download, but  haven't been able to make the crawling of the site async as we need to have all html files downloaded before we run some mods on them. This would require some extensive work. Not a quick win in my opinion.

[2019-01-14 11:05] Fried-Chicken commented on #11
Hey @Stono

Can I close this issue?

[2019-01-15 11:07] RobertoMalatesta opened #12 "--url option does not take in account subdirs"
Hi and thanks for this nice utility!

I've noticed that if I want to publish the static site into a subdirectory, assets, content and public are loaded from web server root.

I would expect that issuing this command:
`gssg --url "https://www.samplehostname.com/staticsite_dir01/" --dest staticsite_dir01`
everything would be stored into and **referenced from** staticsite_dir01 ready to be dropped in

[2019-01-15 13:03] Fried-Chicken commented on #12
Hey @RobertoMalatesta

This is something I didn't consider. I'll take a look later and implement something for you.

😃

[2019-01-15 15:35] RobertoMalatesta commented on #12
Thanks @Fried-Chicken .
A loop searching for things like
`src=`
gets all root-relative resources and external-referencing links, like code.jquery.com and static.ghost.org that could be cleansed and locally stored.

See:

`find . -type f -iname "*" | xargs grep src\=`

shows:

![image](https://user-images.githubusercontent.com/11835025/51190522-b16e9280-18e2-11e9-8f50-cd78d8226e00.png)

After the e

[2019-01-15 15:39] RobertoMalatesta commented on #12
Maybe URLs as well should be fixed:
![image](https://user-images.githubusercontent.com/11835025/51191169-24c4d400-18e4-11e9-940f-d9804a1932b7.png)

[2019-01-15 21:04] Fried-Chicken commented on #12
Hey @RobertoMalatesta

I've had a go as implementing a `--subDir` flag.

Can you try this version `npm i -g ghost-static-site-generator@0.1.5-1` with this command ` gssg --dest a-random-dir --subDir a-random-dir --preview` and let me know if it works.

Thanks

@Fried-Chicken

[2019-01-17 03:06] RobertoMalatesta commented on #12
Just a quick answer @Fried-Chicken :
It works smoothly with :
`gssg --url "https://www.theTargetSite.com" --dest staticDir --subDir staticDir`

I will do some tests and submit a more comprehensive feedback.

--Rob

PS: I never used ghost before. Your brilliant tool sold me it :+1:

[2019-01-17 09:12] Fried-Chicken commented on #12
@RobertoMalatesta That's great to hear! I really like Ghost, I think their team did an amazing job building something that is simple to use and fast!

Let me know if you have any other issues :)

[2019-01-18 20:43] Fried-Chicken commented on #12
@RobertoMalatesta Published new version and closed this ticket. Please re-open if there is any other issues regarding this issue.

Thanks
@Fried-Chicken

[2019-01-18 20:43] #12 closed

[2019-01-18 20:44] Fried-Chicken commented on #11
HI @Stono

I'm closing this ticket, please re-open if it's still valid for you.

Thanks

@Fried-Chicken

[2019-01-18 20:44] #11 closed

[2019-01-18 20:45] Fried-Chicken commented on #9
Hi @Stono

I'm closing this ticket, please re-open if it's still valid for you.

Thanks

@Fried-Chicken

[2019-01-18 20:45] #9 closed

[2019-01-18 20:45] Fried-Chicken commented on #8
Hi @Stono

I'm closing this ticket, please re-open if it's still valid for you.

Thanks

@Fried-Chicken

[2019-01-18 20:45] #8 closed

[2019-01-18 22:53] RobertoMalatesta commented on #12
experimenting on themes.
(finding a bunch of weird things, but not dependent on your tool)
--R

[2019-01-18 22:54] Fried-Chicken commented on #12
Oh, what kind of weird things are you experiencing? Sounds interesting.

[2019-01-18 22:56] RobertoMalatesta commented on #12
scripts not correctly wonking on one theme, a bunch of ttf not correctly mirrored on another.
(incoming screenshot on edit of this message, starting up the machine)

[2019-01-18 23:11] RobertoMalatesta commented on #12
1)
On bleak Ghost theme [https://github.com/zutrinken/bleak](https://github.com/zutrinken/bleak)
the javascript menu breaks with javascript error:
![image](https://user-images.githubusercontent.com/11835025/51417350-e1859200-1b7d-11e9-966b-11be45ea5269.png)
... not dependng on your util but on some script, the top right menu is irresponsive.
Burger on the right:
![image](https://user-images.github

[2019-01-18 23:12] Fried-Chicken commented on #12
@RobertoMalatesta Have you added any code or code injection?

[2019-01-18 23:13] RobertoMalatesta commented on #12
2) font issue: let me change theme and remirror and I'll be back...

[2019-01-18 23:13] RobertoMalatesta commented on #12
zilch for now.
Only applied the theme.

[2019-01-18 23:14] Fried-Chicken commented on #12
Can you host it somewhere where I can have a look?

[2019-01-18 23:17] RobertoMalatesta commented on #12
Sure. follow me on twitter at @exedraos and I'll send you a link.

[2019-01-18 23:21] RobertoMalatesta commented on #12
Random MAN ??

[2019-01-19 09:13] Fried-Chicken opened #13 "Relative paths is replacing regex in js"
Relative paths is replacing regex in js

[2019-01-19 13:21] RobertoMalatesta commented on #13
Hi @Fried-Chicken (hope you slept well!)
a big bonus of relative paths is that you could have absolute portability and entirely drop the `--url` path option.
Ping me here if you need tests.
--R

[2019-01-19 17:39] Fried-Chicken commented on #13
Hi @RobertoMalatesta

I've made all the paths relative for src files now. Please try `v1.0.0-0` with the command `gssg --domain http://localhost:2368 --url http://www.yoursite.com --subDir your-dir` at this time, we still need the `--url` flag as we have to use it to differentiate between some edge case.

However you should find the site is more portable now.

Regarding the font issue, maybe if th

[2019-01-21 16:02] RobertoMalatesta commented on #13
(just saw it... I did not abandon you, but Github did not show me the update otification for the message).
lllooooking ....

[2019-01-21 16:42] RobertoMalatesta commented on #13
Getting closer:
now if you do `gssg --url "http://127.0.0.1:8080"  --dest static` and then you cd into static and serve from there everything seems working OK.
I noticed that `gssg --url ""  --dest static` appends a "/" to all resources.Maybe you have to take it out as well.
The JS seems to work now.
Uploading a sample in the directory you know.

--R

[2019-01-21 16:44] Fried-Chicken commented on #13
@RobertoMalatesta Did you use the `--subDir your-dir` flag? You need to use this to make base links work.

Try this `gssg --domain "http://127.0.0.1:8080" --url "http://www.yoursite.com" --dest static --subDir estatic`

[2019-01-21 16:55] RobertoMalatesta commented on #13
taking out the url altogether and adopting relative paths you won't need subDir but only a --dest where to put a completely relocatable mirror.

[2019-01-21 16:58] Fried-Chicken commented on #13
@RobertoMalatesta I did try taking out the url altogether, but then you mess with all the SEO canonical links and other links that should be hardcoded. That's why I've opted for this solution.

There is two problems I currently see
1: Favicons are linking relative to the path, when it should be absolute from the base
2: Some links return you to `/estatic` rather than `/estatic/` which breaks the i

[2019-01-21 17:01] RobertoMalatesta commented on #13
What about serving everything that is `http://<yourghostaddr>:2368` relatively with the dest as root (without hardwiring it) stripping out all `http://<yourghostaddr>:2368` ?

[2019-01-21 17:03] RobertoMalatesta commented on #13
This way the only hardcoded links are those pointing outside the file served by ghost.
Everything is inside is mirrored and independent.

[2019-01-21 17:04] Fried-Chicken commented on #13
The problem is when the search engines crawl the site, they need to pick up `<link rel="canonical" href="http://<yourghostaddr>:2368/estatic/" />` it has to be absolute `http://<yourghostaddr>:2368/estatic/` and not relative.

[2019-01-21 17:07] RobertoMalatesta commented on #13
I don't see the issue, unless you need it for wget.
Engines will crawl it in a relative fashion thus reconstructing the position.

[2019-01-21 17:09] Fried-Chicken commented on #13
They will, but it's not recommended to use relative paths for canonical links.

[2019-01-21 17:13] RobertoMalatesta commented on #13
I just read the paragraph on canonical links.
It makes sense but it leads to a less moveable content.
Solution of canonicald should be a different utility (not this) that gives a list of exact links and when you move the content reproduces an updated list of canonical links.

[2019-01-21 17:13] RobertoMalatesta commented on #13
If you realy need them.

[2019-01-21 17:14] Fried-Chicken commented on #13
Let's me see, maybe it's not too much of an issue to have them relative.

[2019-01-22 17:35] Fried-Chicken commented on #13
Hey @RobertoMalatesta

I've updated the tool now to accept a `--ignore-absolute-paths` rule. Please try
`gssg --domain "http://127.0.0.1:8080" --url "http://www.yoursite.com" --dest estatic --subDir estatic --ignore-absolute-paths`
 and see if it works for you.

Thanks

@Fried-Chicken

[2019-01-23 11:53] RobertoMalatesta commented on #13
` gssg  --domain "http://localhost:2368"   --url "http://localhost:8080" --dest estatic --subDir estatic --ignore-absolute-paths`

Gives this error:

[code]

[2019-01-23 12:31] Fried-Chicken commented on #13
@RobertoMalatesta Maybe try this `gssg --domain "http://localhost:2368" --url "http://localhost:8080" --subDir static --ignore-absolute-paths` and see if there are any errors.

[2019-01-23 13:36] Fried-Chicken commented on #13
@RobertoMalatesta Maybe you can fork the repo and have a go at fixing it. Then raise a PR back into the repo. Since I don't have access to your environment, it's quite hard to trouble shoot it.

[2019-01-23 14:57] RobertoMalatesta commented on #13
Already forked.
Just had a look around the code but I don't have time to spend on it.
Besides, **httrack** fits my needs at the moment.
Take care.

--R

[2019-01-23 15:04] Fried-Chicken commented on #13
@RobertoMalatesta Oh that's unfortunate.
Glad you found something that fits your needs. You take care too.

@Fried-Chicken

[2019-01-23 15:04] #13 closed

[2019-01-23 15:19] RobertoMalatesta commented on #13
One last thing that can be of help:
the regression is produced by the wget cmd line:
This does not work (as seen in the source):
` wget -q --recursive --timestamping --page-requisites --no-parent --no-host-directories --restrict-file-name=unix --trust-server-names --directory-prefix static http://localhost:2368/sitemap.xsl`
This works (without `--directory-prefix static `):
`wget -q --recursive --

[2019-01-23 17:40] Fried-Chicken commented on #13
@RobertoMalatesta Thanks for that, I'll have a look into it.

[2019-01-25 16:24] RobertoMalatesta commented on #13
@Fried-Chicken don't.
I just saw that the possible culprit is me installing **node-wget** a couple of days ago.
That nifty package took over the path of regular **wget** but it's not 100% compatible.
I won't be touching that machine until Monday, but I assume that, once removed that package, that error will be gone. :smiling_imp:

[2019-01-25 21:40] Fried-Chicken commented on #13
@RobertoMalatesta That's interesting please test and let me know. Also the latest version is `v1.0.0-2`

[2019-01-29 11:31] aadimator opened #14 "CSS and JS files not generating"
The `built` directory inside the assets is empty. No styling and JS functionality in the generated static site.

[2019-01-29 11:34] Fried-Chicken commented on #14
Hey @aadimator Can you provide a bit more context? For example, what command did you use and also what theme are you using? Do you have custom styling injected?

[2019-01-29 12:04] aadimator commented on #14
I used the command `gssg`
I'm using the default Casper theme but I've modified it a bit. I started the ghost blog on my local machine using the command `ghost start`.

[2019-01-29 14:05] Fried-Chicken commented on #14
Hey @aadimator Is this the site `https://aadimator.com/` you are trying to product a static site for?

[2019-01-29 18:20] aadimator commented on #14
No, I was trying to use the local installation at that time. It had the same setup as `https://aadimator.com/` , same theme and content etc. Now, I've also tried to generate the static site using `https://aadimator.com/` and it's not working for that as well.

[2019-01-30 09:07] aadimator commented on #14
Ok, now I think I know what the problem was. It's not picking up the asset files relative to the directory. I was opening up `index.html` to preview the generated content. It's looking for the css and js files in a different directory. ![image](https://user-images.githubusercontent.com/10383542/51969990-9a5da200-2497-11e9-88cf-3553c76df64f.png)

[2019-01-30 09:08] aadimator commented on #14
I've tried running this command as well: `gssg --domain https://aadimator.com --preview` but it fails with the following error.
![image](https://user-images.githubusercontent.com/10383542/51970324-7353a000-2498-11e9-9240-a9f732336688.png)

[2019-01-30 18:39] Fried-Chicken commented on #14
@aadimator It looks like you need to install http-server. Since you are using Windows I'm not sure if it will work.

[2019-01-31 18:46] Fried-Chicken commented on #13
@RobertoMalatesta That's great to hear. I'll be continuing to improve gssg so maybe when you use it. It'll be even better! :)

[2019-01-31 22:02] Fried-Chicken commented on #14
Closing due to OS issue.

[2019-01-31 22:02] #14 closed

[2019-02-10 20:37] gottlike opened #15 "Localhost not replaced in sitemap.xsl link"
The website's Domain/URL is not inserted in the link to the sitemap*.xsl files inside the sitemap*.xml files, e.g.:

[code]

[2019-02-10 20:56] Fried-Chicken commented on #15
Hey @gottlike

Can you tell me which command you're using?

Thanks

[2019-02-10 20:59] gottlike commented on #15
Hey. Sure, it's `gssg --url https://mydomain.ch --dest ../static`

[2019-02-10 21:20] Fried-Chicken commented on #15
Hey @gottlike, Just published a new version for you. Try version `v1.0.1-0`

[2019-02-10 21:24] gottlike commented on #15
It works now - thanks for the quick fix!

[2019-02-10 21:24] #15 closed

[2019-02-10 21:30] Fried-Chicken commented on #15
@gottlike No worries. My pleasure :)

[2019-02-22 06:49] andyhstokes opened #16 "--url appends {{asset}} with 'v=6bbed80a06'"
When I run
`gssg --domain "http://localhost:2368" --url "myrepo.github.io" static --ignore-absolute-paths --preview`

The preview on localhost:8083 works perfectly, however the static files themselves have broken paths for anything linked via the {{asset}} helper.
**Static code:**
`<link rel="stylesheet" href="/assets/css/styles.css?v=6bbed80a06" />`

**Original ghost theme code:**
`<link rel="sty

[2019-02-22 08:07] Fried-Chicken commented on #16
Hey @andyhstokes

The `?v=6bbed80a06` shouldn't be an issue, that's just a query param. Can you try this command.
`gssg --domain "http://localhost:2368" --url "https://myrepo.github.io"` and let me know if it helps.

Thanks ☺️

@Fried-Chicken

[2019-02-22 21:02] andyhstokes commented on #16
Hey. I fixed the problem I was having by removing the static folder and rerunning the command. I must have made a mistake in terminal and was just looking for errors (I'm not that adept at web design).

Thanks for the help and great work on the repo! I was looking to move away from my web host and found this via the comments on Buster.

[2019-02-23 00:09] Fried-Chicken commented on #16
Hey @andyhstokes

That's great to hear that you fixed it. Don't worry, practise makes perfect.
If you need any help, just give me a shout.

Hope you enjoy using my plugin!

@Fried-Chicken

[2019-02-23 00:09] #16 closed

[2019-02-26 19:37] jamaalsawyerd opened #17 "Doesn't pull the social card images."
Hi, gssg has been a lifesaver, so first and foremost thank you very much sir!

The issue I'm seeing is that the photos for social cards (like Twitter) are not pulled into the content folder.

[2019-02-26 19:52] Fried-Chicken commented on #17
Hey @jamaalsawyerd

Thanks, glad you like it. I'll have to take a look into the social cards issue and maybe deploy a fix. Will update this thread when a fix is on the horizon.

Thanks

@Fried-Chicken

[2019-02-26 20:18] Fried-Chicken commented on #17
Hey @jamaalsawyerd

I've just tried the twitter plugin and it seems to work for me.
Which twitter link were you trying to use? As far as I'm aware, the images should be linked from twitter and not pulled to your content folder.

Thanks

@jamaalsawyerd

[2019-03-02 13:33] Fried-Chicken commented on #17
Hey @jamaalsawyerd

Ahh right, you meant that thing. Thanks for the video!
Sorry, I thought you meant the twitter link to post feature.

Let me take a look at that and get back to you.

Thanks

@Fried-Chicken

[2019-03-11 19:42] matfire opened #18 "Articles' images get the wrong file extension"
After writing a blog post and trying to generate the website, I found that images are not loaded. After looking at the console for the live version, I found out that if I specify an url (The site is live on matfire.github.io), which in my case would be matfire.github.io, then all the urls are messed up.

If I click on the Home button, I am redirected to https://matfire.github.io/matfire.github.io/

[2019-03-28 13:36] scambier commented on #14
@Fried-Chicken

There are two issues here:
- The initial problem (missing css and js files in the built folder)
- The crash of http-server when using --preview

I doubt that the two are related. I'm on Windows and have the same problems. However, I can use http-server independently.

When using `gssg` and looking at wget logs, I don't see it fetch any .js or .css files

[2019-06-26 22:43] themeix opened #22 "Search feature not working after generate the static site"
Hello,

I used ghosthunter for the search option. But after made the static site by using gssg, search not working.. Do you have any idea or tricks to show the search feature in static ghost site?

Thanks

[2019-07-31 21:24] themeix opened #24 "Pagination Not working"
When i am generating the static site from ghost, it does not create page folder with the paginate items.

if the tag/homepage has pagination it does not work..

[2019-08-23 19:12] UnsafePointer commented on #17
@jamaalsawyerd I workaround'ed this by running `rsync` after `gssg`, something like:

[code]

[2019-08-26 07:20] gabzdyl opened #25 "'grep' is not recognized"
When executing gssg command I get following error:

Error: Command failed: wget --help | grep "show-progress" || true
'grep' is not recognized as an internal or external command,
operable program or batch file.

    at checkExecSyncError (child_process.js:629:11)
    at execSync (child_process.js:666:13)
    at shouldShowProgress (C:\Users\Me\AppData\Roaming\npm\node_modules\ghost-static-site-gene

[2019-09-27 18:12] LDubya commented on #8
Hi, there seems to be a case where images are not resized by Ghost on animated gifs. After a second. Ghost will just serve the original image size instead of the resized one (it doesn't save a resized GIF in any size folder, it just serves it from the server using that route). This is leading to missing resized GIF images. Are you just not giving the script enough time for Ghost to generate the im

[2019-09-27 18:15] LDubya opened #27 "Missing resized GIFs"
Hi, there seems to be a case where images are missing, due to not being resized by Ghost. This is specifically for animated gifs. When the theme requests a resized image and that image is an animated GIF, Ghost will just serve the original image instead of a resized one. It doesn't save a resized GIF in any size folder, it just serves the original image from the server. This is leading to missing

[2019-10-11 12:29] jsyang opened #28 "No CSS?"
Hi I tried this out and generated a static site from a Ghost 2 instance but the resulting files don't include any CSS, this that correct?

[2019-10-30 13:12] tobika commented on #28
@jsyang do you have any news? was also wondering if I update to ghost 2 or not?

[2019-10-30 14:31] jsyang commented on #28
Not using this package anymore

[2019-10-30 14:31] #28 closed

[2020-07-01 20:29] ericalli commented on #27
@LDubya Did you happen to come across a solution to this issue? I'm still seeing it happen on my end.

[2020-07-01 20:52] LDubya commented on #27
@ericalli unfortunately not. The “solution” for me was pasting the GIF into every folder where it should have been in.

[2021-01-25 19:43] gkrizek commented on #17
I just hit this error as well. I'll try the rsync on it.

[2021-02-19 14:07] EKami opened #37 "[Bug] Not all image sizes are pulled"
In one theme that I use I have an image of size `w1140` stored in `/content/images/size/w1140/2021/02/nodes-1.png` but when I use gssg the only sizes that are being pulled are:
[code]
It seems the sizes above `w1000` are ignored. It's easy to replicate. One can use the theme "Dawn" available [here](https://ghost.org/marketplace/) then create a post in Ghost and in "post settings" change the post i

[2021-03-14 06:40] electriquo opened #38 "ERROR: null when running gssg"
thank for maintaining this package!

these are the versions i am using:

- gssg 1.0.1
- ghost 3.42.0
- ghost cli 1.16.0

when i execute gssg, it fails with `ERROR: null`.

[code]

any clue what is wrong?

[2021-04-24 09:50] mvolpato commented on #37
I do get all the folders:

[code]

but some images are missing from the bigger folders.

[2021-05-16 08:43] beardsleym commented on #37
Same problem, ended up manually copying `content/images` folder into `static/content/images`

[2021-05-21 11:20] eli-xciv opened #43 "`gssg` removes all instances of `--url` value with `--domain`"
Title says most of it.

Example:
if I have `--url http://localhost:8080` as a flag to `gssg` and I have `http://localhost:8080` in the content of my site (not a link), `gssg` replaces it with the `--domain` parameter.

[2021-06-06 08:13] zaksquatch commented on #38
I'm running into the same situation.

Ghost-CLI version: 1.17.3
Ghost version: 4.6.4 (at C:\wamp64\www\ghost)
GSSG version: 1.0.1

[2021-07-09 23:27] jon241 commented on #14
This issue needs reopening as I am also getting this issue but no idea why.

[2021-11-14 08:13] VimalMollyn commented on #38
Same issue!

[2021-12-06 06:45] shuaiscott opened #53 "No index.html generated with latest Ghost version"
[code]

This makes the static site un-usable as web hosts like Netlify can't find the start page for the domain

[2021-12-06 07:29] shuaiscott commented on #53
Should be fixed with merge of #52

Ran @a-c-m's fork manually and also confirmed it was good

[2022-01-03 06:41] VimalMollyn commented on #53
This didn't work for me unfortunately.

[2022-01-04 14:38] Zenahr opened #56 "Instructions for Windows users"
It would be nice to know how to get gssg working on a Windows machine. And if not possible at all then at least have a short mention about this at the top of the README would be great.

[2022-01-10 10:04] Fried-Chicken commented on #56
It should work for Windows machines. Is it not working for you? I'll see if I can find a windows machine to check it out on.

[2022-01-10 13:47] Zenahr commented on #56
@Fried-Chicken It's not because of the wget dependency.

[2022-01-11 02:27] Fried-Chicken commented on #56
@Zenahr Looks like wget does exist for windows, did you try installing this already?

[2022-01-11 17:28] Zenahr commented on #56
@Fried-Chicken I had installed wget via this before: http://gnuwin32.sourceforge.net/packages/wget.htm

Which didn't help.

I ran

[code]

and now it works. I'll make a quick PR to the readme to add the instructions for Windows users.

[2022-01-11 20:00] Fried-Chicken commented on #38
Hey Guys,

I've just released a new version, `v1.1.2` can you try that version and see if you still have any issues.

Thanks

[2022-01-11 20:02] Fried-Chicken commented on #37
Hi @lukefaccin, I've merged your PR but I did some housekeeping as well, please can you test the new version `v1.1.2` to see if it fixes your issue. Thanks

[2022-01-11 20:02] #37 closed

[2022-01-11 20:04] Fried-Chicken commented on #25
Hey @gabzdyl Which version of windows are you using?

[2022-01-11 20:05] Fried-Chicken commented on #53
Hey Guys,

I've just released a new version `v1.1.2`, which I've merged #52 in. Can you try that version and see if you still have any issues.

Thanks

[2022-01-11 20:06] Fried-Chicken commented on #53
@VimalMollyn  Can you give me some more details, what os are you using and what version of ghost are you using?

[2022-01-11 20:07] Fried-Chicken commented on #27
@LDubya Can you copy and paste some of the underlying html so I can see how the gif and images are loaded for you.

[2022-01-11 20:09] Fried-Chicken commented on #22
Hey @themeix

I've just released a new version, `v1.1.2` can you try that version and see if you still have any issues.

Thanks

[2022-01-11 20:09] #22 closed

[2022-01-11 20:14] LDubya commented on #27
Hey Mo, I stopped using this extension, but essentially, but for ghost static site generator, every image is auto-generated by Ghost at different file dimensions based on your theme code, etc, and then ghost static site generator uploads those images to their appropriate folders inside static content folders, based on their original image routes (in my case, first by year, then by dimensions). You

[2022-01-11 21:16] Fried-Chicken commented on #18
Hi @matfire

I've had some time to look into your issue now. Please can you try the following command on version `1.1.4`.
`gssg --domain https://matfire.github.io --url https://matfire.github.io`

`domain` should be used to target where your ghost instance is hosted, like this.
`gssg --domain https://matfire.yourghostinstance.com --url https://matfire.github.io`

Then you should be able to upload

[2022-01-11 21:20] Fried-Chicken commented on #43
Hi @eli-xciv

Can you try version `1.1.4` with the following command please `gssg --domain http://www.myhiddenserver.com:4538 --url http://www.myblog.com` In case you didn't know, the `--url` flag finds all instances of the `--domain` parameter and replaces it. It does not prefix relative urls. This is so you can move your site around.

Please let me know if the issue still persists.

[2022-01-11 21:22] Fried-Chicken commented on #27
Thanks @LDubya for your reply, I will look into this, but for now I will close this ticket.

[2022-01-11 21:22] #27 closed

[2022-01-11 21:23] Fried-Chicken commented on #24
Hi @themeix,

I've just released a new version `v1.1.4`. Can you try that version and see if you still have any issues.

Thanks

[2022-01-14 02:31] feedangrow opened #58 "Not correctly saving post feature images"
Post gallery images are not being saved correctly to static file folder.

OS: Mac OSX Big Sur 11.4
node version: v16.13.2
npm version: 8.1.2
wget version: 1.21.2

Navigate to my page: https://feedangrow.com/

You should see the broken image. If you open image in tab, or view page source it shows the URL: https://feedangrow.com/content/images/size/w150h150/2022/01/autopot_logo.png

If I go into my

[2022-01-14 06:49] foolioo commented on #38
@Fried-Chicken issue still happens

[2022-01-14 14:59] VimalMollyn commented on #53
I'm using ghost CLI v1.18.1 on MacOS v11.2 (Big Sur).

[2022-01-24 16:03] #24 closed

[2022-01-30 18:52] dominioncfg commented on #38
The same thing was happening to me on Windows even though I have all the tools properly installed, On Linux seems to work (using WSL2).

[2022-02-23 02:30] CKraft11 opened #60 "Rank productionDomain higher than a global url variable specified in ghost docker container"
When I create my docker container for Ghost I would prefer to set the local URL as HTTP://serverip:2368 so I can work on it locally from another computer (this is why ghost defaulting to localhost:2368 wouldn't work). If I define this in the docker file though even though that I have --productionDomain www.mydomain.com defined, when I generate the static files it still defaults putting HTTP://serv

[2022-02-23 05:57] CKraft11 commented on #58
I am also having this exact issue

[2022-02-23 06:19] CKraft11 commented on #60
`#!/bin/bash
date=$(date)
git pull origin master
rm -r docs
mkdir docs
cd docs
echo "www.mydomain.com" > CNAME
cd -
gssg --dest docs
cd docs/
docker cp ghost:/var/lib/ghost/content/images/. content/images
grep -lR "192.168.9.etc:2368" . | xargs sed -i 's/192.168.9.etc:2368/www.mydomain.com/g'
cd -
git add .
git commit -m "$date"
git config --global credential.helper store
git push -u origin master

[2022-02-23 06:20] CKraft11 commented on #17
#!/bin/bash date=$(date) git pull origin master rm -r docs mkdir docs cd docs echo "www.mydomain.com" > CNAME cd - gssg --dest docs cd docs/ docker cp ghost:/var/lib/ghost/content/images/. content/images grep -lR "192.168.9.etc:2368" . | xargs sed -i 's/192.168.9.etc:2368/www.mydomain.com/g' cd - git add . git commit -m "$date" git config --global credential.helper store git push -u origin master

[2022-02-23 06:20] CKraft11 commented on #58
#!/bin/bash date=$(date) git pull origin master rm -r docs mkdir docs cd docs echo "www.mydomain.com" > CNAME cd - gssg --dest docs cd docs/ docker cp ghost:/var/lib/ghost/content/images/. content/images grep -lR "192.168.9.etc:2368" . | xargs sed -i 's/192.168.9.etc:2368/www.mydomain.com/g' cd - git add . git commit -m "$date" git config --global credential.helper store git push -u origin master

[2022-03-31 05:22] ItsIgnacioPortal opened #61 "PSA: I made this tool work using some scripts"
I've created a setup so that when I want to deploy ghost to github pages, I just run have to run `ghostdeploy` in cmd, then `git commit -m "some message"` and `git push`. This is the result: https://itsignacioportal.github.io/. No broken links, no broken images, no errors :)

Environment:
Windows 10
- node v16.14.2
- Ghost-CLI version: 1.19.2
- Ghost version: 4.41.3 (at ~\AppData\Local\Ghost_Serve

[2022-04-21 19:41] asimuzzaman opened #62 "Image sources and Navigation URLs are not working"
I have used GSSG to generate static site from my local Ghost application running at `http://localhost:2368`. It executed without any error but the Navigation URLs are not being converted. For example, there is an **About** link in the primary navigation bar which should be changed to `/about` or `https://myproduction.com/about`, but it remains `http://localhost:2368/about` in the generated static

[2022-04-24 11:37] asimuzzaman commented on #62
The problem was solved after re-installing the Ghost theme and running this command `gssg --url https://myproduction.com --source https://localhost:2368`. But, all of the images from Ghost's `content/images` directory are not getting copied to the static site which is creating broken images here and there in the generated static site. Closing this issue and opening another one with details.

[2022-04-24 11:37] #62 closed

[2022-05-19 04:42] ditsing commented on #60
AS of 3d57c90 you still need to pass `--url` *in addition* to `--productionDomain` so that gssg replaces the URL for you. This is a bug in line 53 of [generateStaticSite.js](https://github.com/Fried-Chicken/ghost-static-site-generator/blob/2d8bfd8ddd85846d14f9ab44e59d827e70cc151e/src/commands/generateStaticSite.js#L53). @Fried-Chicken please fix when you have time.

[2022-06-22 09:24] imtomjorge opened #65 "Source domain isn't used, and using localhost:2368 instead"
Ghost version: 5
NPM Version: 6.14.16
Node Version: v12.22.12
Ghost Static Site Generator version: v1.1.4
OS distro + version: Ubuntu 20.04.4 LTS

Description: When I try to launch gssg, it seems that the flag "--sourceDomain" is not used.
Instead, it performs multiple wget commands on http://localhost:2368.

Logs:
[code]

[2022-06-22 09:51] imtomjorge commented on #65
The issue also persists on Debian Buster:

root@ghost-static:~# lsb_release -d
Description:	Debian GNU/Linux 11 (bullseye)
root@ghost-static:~# gssg --version
1.1.4

[2022-07-01 00:31] mewmix commented on #65
Same issue on WSL 2 ! No issues on my Mac tho?

[2022-07-24 01:55] xalisys commented on #65
any update, i am facing same issue on fedora?

[2022-07-26 14:34] dmd opened #67 "--preview fails to load images"
`--preview` fails to load images, because the URL for images is written starting with `http://localhost:2368/` instead of `http://localhost:8080/`.  This may be related to #65 ?

[2022-08-02 18:49] rmarchant commented on #65
As a workound, I just manually update the `/usr/lib/node_modules/ghost-static-site-generator/src/constants/OPTIONS.js` file, and replace the lines that reference `localhost:2368` with the desired hostname:port.

[2022-08-03 10:35] ItsIgnacioPortal commented on #65
Another workaround is to modify your `/etc/hosts` file

[2022-08-03 10:46] dmd commented on #65
Now I'm just a humble chicken farmer but I'd suggest that having `localhost` point anywhere other than `localhost` is a supremely bad idea and likely to break all *sorts* of things.

[2022-08-03 23:13] ItsIgnacioPortal commented on #65
Obviously you shouldn't keep this modification forever. Just modify it before running gssg, and restore it afterwards hahah

[2022-08-19 23:17] wegotoeleven commented on #65
+1, same issue on Alpine

[2022-08-30 21:48] Nikoos commented on #65
I had the same issue as you, however after doing some research on Internet, I was able to run a static site generation with the following command:

`gssg --domain "https://localhost:8080" --url "http://192.168.57.221:8081" --dest docs`

I found this command here : [https://dev.to/eli_xciv/from-ghost-blog-to-static-site-pke](https://dev.to/eli_xciv/from-ghost-blog-to-static-site-pke).

Nikos

[2022-09-02 11:08] wunderhund commented on #65
Seeing a similar issue when running in a node:14 docker container. When I run Nikos' command above and point gssg to a ghost host other than localhost, certain files are still requested from localhost. In this case the container is connected to a docker network where it can reach ghost at http://ghost:2368:
[code]

The affected files are:

- sitemap-pages.xml
- sitemap-posts.xml
- sitemap-authors.

[2022-09-03 13:00] Nikoos commented on #65
@wunderhund you're correct, I remember using npm instead of sources from this repo, sorry for the trouble.

[2022-09-04 07:43] ItsIgnacioPortal commented on #65
have a look at #61, there's a couple of handy scripts there

[2022-09-05 11:36] SivertGullbergHansen opened #68 "Built folder is empty"
Hi, this issue has been brought up earlier but it has been closed and not re-opened for some reason, so I am creating a new one specifically for this issue:
![image](https://user-images.githubusercontent.com/6785315/188439891-cc528e9f-07f7-47af-843f-8769feed9daa.png)

My builds-folder is empty, thus no JS or CSS is loaded into the static site.

[2022-10-28 14:27] theyij commented on #65
Having the same issue here, tried the following command but did not work.
$ gssg ---domain "https://localhost:2368" --url "https://mysite.com"

Does editing config.development.json file help?

[2022-11-10 16:58] VimalMollyn commented on #53
I made a minimal script to generate static websites with ghost, check it out here: [https://gist.github.com/VimalMollyn/73c61521f34dce0ffbd2952cad084f60](https://gist.github.com/VimalMollyn/73c61521f34dce0ffbd2952cad084f60).

And for my current ghost website workflow, check this blog post out: [https://vimal-mollyn.com/workflow/this-website/](https://vimal-mollyn.com/workflow/this-website/)